<div class="">
    <ul class="line_height flexx ">
      <li class=""><a href="/add_blog" type="button" class=" btn btn-outline-success underline">Add Blog</a></li>
      <li class=""><a href="/view_blogs" type="button" class=" btn btn-outline-success underline">View Blogs</a></li>
      <li><a class="underline btn btn-outline-success" type="button" href="/view_user">User Profile</a></li>
    </ul>
  </div>