<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/log_in.css">
</head>
<body>
    <!-- ********************************* header section ***************************** -->
    
    <%- include('./common/header.ejs') %>
    <br><br><br>
    <!-- ****************************************************************************** -->

    <!-- ************************ sign_in form              ************************* -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
              <p class="text-center display-4">Sign In</p>
                <form method="post" action="/log_in">
                    <div class="mb-3">
                      <label for="email">Email:</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="mb-3">
                      <label for="pwd">Password:</label>
                      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
                    </div>
                    <!-- <div class="form-check mb-3">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Remember me
                      </label>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <p class="mt-3"><a href="/sign_up"  type="button"  class="underline testbtn2">Not registered yet? Sign up here.</a></p>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
    <!-- **************************************************************************** -->

    <!-- ****************************** footer section **************************** -->
    <div class="fixed-bottom">
        <%- include('./common/footer.ejs') %>
    </div>
    <!-- ************************************************************************** -->
</body>
</html>