{% extends 'blogApp/base.html' %} {%load static%} {%block content%}

<div class="col-sm-10">
  <h3 class="test my-5">About Page</h3>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati atque,
    dolores in maxime velit aspernatur repellat consequuntur, sed veniam, enim
    cupiditate nesciunt earum culpa adipisci accusantium assumenda. Mollitia
    totam tempore enim repudiandae ipsum animi deserunt, fugit veniam neque
    officiis cupiditate quos unde! Eum, optio laboriosam. Magni earum minus fuga
    excepturi quod, numquam aut deserunt recusandae harum ipsa nihil.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, in quidem
    vel nemo praesentium alias possimus voluptas doloremque, doloribus nam
    sapiente. Quae nesciunt voluptatum ipsum voluptates animi temporibus
    consequatur quas?
  </p>
</div>
{%endblock content%}
