{% extends 'blogApp/base.html' %} {%load static%} {%block content%}

<div class="col-sm-10">
  <h3 class="test my-5">LogIn Page</h3>

  <form action="" method="post" novalidate>
    {% csrf_token %} {% for fm in form %}
    <div class="group-form">
      {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}
    </div>
    {% endfor %} {% if messages %} {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %} {% endif %}
    <input type="submit" value="Log In" class="btn btn-primary" />
    {% if form.non_field_errors %} {% for error in form.non_field_errors %}
    <p>{{error}}</p>
    {% endfor %} {% endif %}
  </form>
</div>
{%endblock content%}
